<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ BEdita - a semantic content management framework
  ~ Copyright (C) 2008-2016  Chia Lab s.r.l., Channelweb s.r.l.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./tests/bootstrap.php"
>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="BEdita 4 Debug Kit Test Suite">
            <directory>./tests/TestCase</directory>
        </testsuite>
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener
            class="\Cake\TestSuite\Fixture\FixtureInjector"
            file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <!-- Prevent coverage reports from looking in tests and vendors -->
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".ctp">./vendor/</directory>

            <directory suffix=".php">./tests/</directory>
            <directory suffix=".ctp">./tests/</directory>
        </blacklist>
    </filter>

</phpunit>
